.entry-title.row {
    margin-bottom: 4rem;
}

.last.list.row {
    margin-bottom: 2.5rem;
}

.paginator.row {
    margin-bottom: 2.5rem;
}

.footer.row {
    margin-bottom: 1rem;
}

.figure {
    margin-bottom: 2.5rem;
}
.figure p {
    margin-bottom: 0;
}
.figure p.caption,
.figure div.legend {
    padding: 10px 0px 10px 15px;
}
.figure img {
    display: block;
    max-width: 100%;
}

#toc-toggle {
    height: auto;
    text-align: center;
    padding: 6px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2;
}
#toc-toggle .bar {
    margin: 7px;
    height: 4px;
    width: 28px;
    border-radius: 2px;
    background: #CCC;
}
#toc-toggle.open .topbar {
    transform: rotate(-45deg) translate(-5px, -2px);
}
#toc-toggle.open .botbar {
    transform: rotate(45deg) translate(-5px, 2px);
}

.toc-hidden {
    display: none;
}
.toc {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 72px;
    padding-bottom: 16px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    border-radius: 0 0px 10px 0px;
}
.toc ul {
    list-style: none;
}
.toc ul li {
    padding: 2px;
    margin-bottom: 0;
    position: relative;
}
.toc li ul.sub-toc {
    display: none;
}
.toc li ul.sub-toc.shown {
    display: block;
}
.toc li span {
    padding: 0.5em 1em 0.5em 1.5em;
    border-radius: 5px;
    display: inline-block;
}
.toc ul li.caret > span::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 0.2em 0.2em 0 0;
    height: 0.35em;
    width: 0.35em;
    top: 1.1em;
    left: 0.5em;
    transform: rotate(45deg);
    cursor: pointer;
    pointer-events: all;
}
.toc ul li.caret:has(> ul.sub-toc.shown) > span::before
{
    transform: rotate(135deg);
}

#main-banner {
    margin-top: 74px;
}
#jwno-logo {
    display: inline-block;
    width: 2em;
    height: 2em;
}
#jwno-logo img {
    display: inline-block;
    width: 100%;
    height: 100%;
}
#top-title {
    display: inline-block;
}
#top-title hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.feature-list h4 {
    margin-bottom: 1rem;
}
